.ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 16px;
  @media screen and (max-width: 767px) {
    width: 90%;
    justify-content: center;
  }
  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #c4c4c4;
    margin: 20px 32px 20px 64px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    width: 448px;
    margin-right: 48px;
    text-align: left;
    @media screen and (max-width: 768px) {
      width: 150px;
      font-size: 23px;
      margin-left: 20px;
      margin-right: 5px;
    }
  }
  &__value {
    width: 40px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: 1px solid black;
    outline: none;
    &::placeholder {
      color: black;
    }
    @media screen and (max-width: 768px) {
      margin: 40px 0;
    }
  }
  &__price {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    margin: 0 64px 0 40px;
    @media screen and (max-width: 768px) {
      width: 92px;
      text-align: right;
      margin: 0 24px 0px 0;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
