.ingredient {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 16px;
  @media screen and (max-width: 1000px) {
    width: 90%;
    justify-content: center;
  }
  &__image {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #c4c4c4;
    margin: 20px 32px 20px 64px;
    @media screen and (max-width: 600px) {
      display: none;
    }
    @media screen and (max-width: 768px) {
      margin: 20px 32px 20px 10px;
    }
  }
  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    width: 448px;
    margin-right: 48px;
    text-align: left;
    @media screen and (max-width: 768px) {
      width: 150px;
      font-size: 23px;
      margin-left: 15px;
      margin-right: 5px;
    }
    @media screen and (max-width: 350px) {
      width: 150px;
      font-size: 18px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  &__value {
    width: 40px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: 2px solid black;
    outline: none;
    transition: 0.4s;
    &::placeholder {
      color: black;
    }
    @media screen and (max-width: 768px) {
      margin: 40px 0;
    }
    @media screen and (max-width: 350px) {
      width: 35px;
      height: 35px;
      font-size: 18px;
    }
    &-invalid {
      @extend .ingredient__value;
      border: 2px solid #e42b2b;
    }
  }
  &__price {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    margin: 0 64px 0 40px;
    @media screen and (max-width: 768px) {
      width: 92px;
      text-align: right;
      margin: 0 15px 0px 10px;
    }
    @media screen and (max-width: 350px) {
      font-size: 18px;
    }
  }
  &__message-invalid {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: #e42b2b;
    opacity: 0;
    transition: 0.4s;
    &--visible {
      @extend .ingredient__message-invalid;
      opacity: 1;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
