@import "../../scss/global-styles";

.header {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 48px;
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
    padding: 0 0px;
  }
  &__back {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      font-size: 13px;
      line-height: 15px;
      padding-left: 10px;
    }
  }
  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    cursor: pointer;
  }
  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    @media screen and (max-width: 768px) {
      font-size: 13px;
      line-height: 15px;
      padding-right: 20px;
    }
  }
}
