@import "../../scss/global-styles";

.option {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  margin: 0 8px;
  max-width: 304px;
  @media screen and (max-width: 768px) {
    margin: 0 4px;
  }
  @media screen and (max-width: 340px) {
    max-width: 250px;
  }
  &-disabled {
    opacity: 0.4;
  }
  &__title {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin: 29px 0 30px;
  }
  &__image {
    width: 178px;
    height: 178px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-bottom: 36px;
  }
  &__details {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
    &-description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
    &-value {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
    }
  }
  &__button {
    margin: 16px 20px 22px;
    width: 268px;
    height: 48px;
  }
}
