.quantity__icons {
  user-select: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  letter-spacing: 5px;
  @media screen and (max-width: 767px) {
    margin-right: 5px;
  }

  &-icon {
    font-size: 26px;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
    &-invalid {
      @extend .quantity__icons-icon;
      color: #e42b2b;
      cursor: not-allowed;
    }
  }
}
