.button {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    background: #d62845;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &-disabled {
      @extend .button;
      opacity: 0.4;
      cursor: not-allowed;
    }
    &-transparent {
      @extend .button;
      background: transparent;
      border: 1px solid black;
      color: black;
    }
  }